body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbarNav{
	justify-content: flex-end;
}

header{
	margin-bottom: 35px;
}

.list-group{
	width:100%;
}